.panel {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	user-select: none;
}

.logo {
	height: 15%;
	width: 100%;
	font-size: 2.5rem;
	text-align: center;
	padding-top: 25%;
	outline: none;
}

.panel ul {
	margin-top: 25%;
	width: 80%;
}

.panel ul li {
	margin: 13px 0;
}

.closeBtn {
	display: none;
	cursor: pointer;
	align-self: flex-end;
	text-align: right;
	margin: 15px 15px 0 0;
}

@media screen and (max-width: 1200px) {
	.closeBtn {
		display: block;
	}
}
