.movieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: auto;
    background: var(--body-color);
    color: #f3f3f3;
    border-radius: 20px;
    padding: 5px 20px;
}

.nav li:hover {
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    transform: scale(1.1);
}
