.item a {
	width: 90%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.item a:hover {
	background: #cccccc50;
	cursor: pointer;
	border-radius: 20px;
	padding: 0 2px;
}

.section::before {
	content: '';
	border: solid #f3f3f3;
	border-width: 0 2px 2px 0;
	display: block;
	position: absolute;
	top: calc(inherit - 10px);
	right: 25px;
	padding: 4px;
	margin: 5px 0 5px 0;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.listShown.section::before {
	margin: 10px 0 0px 0;
	transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
}

.icon {
	display: flex;
	align-items: flex-end;
	font-size: 20px;
	height: 100%;
}

.label {
	margin-left: 10%;
}

.item ul {
	width: 70%;
	margin: 0 auto;
}
